<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="herririk_herri.tta.intel.ehu.eus.herririk_herri">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.permission.RECORD_AUDIO" android:required="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MenuActivity" />
        <activity android:name=".View.HerriActivity" />
        <activity android:name=".View.SelAriketaActivity" />
        <activity android:name=".View.SelKulturaActivity" />
        <activity android:name=".View.KulturActivity" />
        <activity android:name=".View.RecordActivity" />
        <activity android:name=".View.TestActivity" />
        <activity android:name=".View.ImgActivity" />
        <activity android:name=".View.AudioActivity"></activity>
    </application>

</manifest>